body{
    font-family: "Cooper Black", "Arial";
    background-color: beige;
}
#btnNo{
    padding: 10px 20px;
    background-color: #FF0000;
    border: none;
    color: white;
    font-family: "Cooper Black", "Arial";
    
}
#btnSi{
    padding: 10px 20px;
    background-color: #FF0000;
    border: none;
    color: white;
    font-family: "Cooper Black", "Arial";
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFA07A;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}



.posicion1{
    padding: 10px 20px;
    
}

.posicion2{
    position: absolute;
    top: 30px;
    right: 12px;
}
.posicion3{
    position: absolute;
    bottom: 20px;
    right: 19px;
}
.posicion4{
    position: absolute;
    top: 17px;
    right: 54px;
}